<div class="card">
    <div class="card-header">
      Skontaktuj się z nami!
    </div>
    <div class="card-body">
      <h5 class="card-title">Zamawianie domen | Pomoc techniczna</h5>
          <div class="row">
            <div class="col-sm-6">
              <div class="card no-margin" >
                <div class="card-body">
                  <h5 class="card-title text-primary">Numer telefonu:</h5>
                  <p class="card-text"> +48 600 700 741 </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
                <div class="card no-margin">
                  <div class="card-body">
                    <h5 class="card-title text-primary">E-mail:</h5>
                    <p class="card-text"> kontakt2016@eu.pl  </p>
                  </div>
                </div>
              </div>
          </div>
          
      <p class="card-text font-weight-light text-secondary ">Nie wyrażamy zgody na używanie danych kontaktowych
          do innych celów niż zamówienie usługi lub zapytanie o domeny.</p>
  </div>