/*honeydew / artichoke / raisinblack*/
.domain-list__header tr td {
  color: #B49A67;
  font-weight: bold;
  padding-bottom: 20px; }

.domain-list__body tr {
  color: #466365; }

.domain-list__body tr:nth-child(2n) {
  background-color: #899878;
  color: #F1F7EE; }
  .domain-list__body tr:nth-child(2n) .domain-list-element__prolong-button {
    background-color: #CCC5B9;
    color: #466365; }
    .domain-list__body tr:nth-child(2n) .domain-list-element__prolong-button:hover {
      background-color: #8C7284;
      color: #F1F7EE; }

.domain-list__body td {
  padding: 10px; }

.domain-list-element__name {
  font-weight: bold; }

.domain-list-element__prolong-button {
  border: none;
  background-color: #466365;
  padding: 10px;
  color: #F1F7EE;
  cursor: pointer;
  transition: 0.4s all; }
  .domain-list-element__prolong-button:hover {
    background-color: #8C7284; }

.inactive-domain {
  color: #D52941;
  font-weight: bold; }

fieldset {
  border: none;
  display: flex; }

.ipInput {
  width: 80px;
  float: right;
  border: none;
  padding: 5px;
  height: 30px; }
  .ipInput:focus {
    border-left: 1px solid #899878;
    border-top: 1px solid #899878;
    border-bottom: 1px solid #899878;
    outline: none; }
  .ipInput_button {
    width: 30px;
    height: 30px;
    border: none;
    color: #F1F7EE;
    font-size: 10px;
    background-color: #466365;
    padding: 4px;
    transition: 0.3s all; }
    .ipInput_button:hover {
      background-color: #8C7284; }
