@import '../variables.scss';

.user-data-form{
    & fieldset{
        border: none;
    }
    &_legend{
        color: $woodbrown;
        font-size: 20px;
        font-weight: bold;
        padding: 30px 0 10px 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid $blackolive;

    }
    &_input{
        width: 50%;
        float: right;
        border: none;
        border-radius: 2px;
        padding: 5px;
        &:focus{
            border: 1px solid $artichoke; 
            outline: none;
        }
    }
    &_label{
        width: 50%;
        padding: 5px 0;
        display: inline-block;
    }
    &_change-btn{
        float: right;
        margin: 4px;
        border: none;
        color: $honeydew;
        font-size: 10px;
        background-color: $artichoke;
        padding: 4px;
    }
    .hidden{
        display: none;
    }
}
