<div class="jumbotron">
  <h1 class="display-4">Witaj, username!</h1>
  <p class="lead">Fajnie by bylo cos tutaj wpisac.</p>
  <hr class="my-4">
  <p>Powiedz nam, co chciałbyś dzisiaj zrobić:</p>
  <p class="lead">
    <a class="btn btn-lg btn-success" href="#" role="button">Wykup domenę</a>
    <a class="btn btn-primary btn-lg" routerLink="domain-availability" role="button">Sprawdź dostępność domeny</a>
    <a class="btn btn-primary btn-lg" routerLink="domain-list" role="button">Zarządzaj swoimi domenami</a>
  </p>
</div>