#container{
    display: flex;
    flex-direction: row;
    // align-items: stretch;
    height: 100%;
}

main{
    width: 80%; 
}
@media(max-width: 768px){
    
}

@media(max-width: 480px){
    #container{
        flex-direction: column;
    }
    main{
        width: 100%;
    }
}