<div class="card">
    <div class="card-header">Twoje konto</div>
    <div class="card-body">
        <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="userEmail">E-mail</label>
                <input type="email" class="form-control" id="userEmail" placeholder="Adres E-mail">
              </div>
              <div class="form-group col-md-6">
                <label for="userPasswd">Hasło</label>
                <input type="password" class="form-control" id="userPasswd" placeholder="Hasło">
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Edytuj</button>
          </form>
    </div>
</div>
<div class="card">
    <div class="card-header">Twoje dane adresowe</div>
    <div class="card-body">
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="userEmail">E-mail</label>
            <input type="email" class="form-control" id="userEmail" placeholder="Adres E-mail">
          </div>
          <div class="form-group col-md-6">
            <label for="userPasswd">Hasło</label>
            <input type="password" class="form-control" id="userPasswd" placeholder="Hasło">
          </div>
        </div>
        <div class="form-group">
          <label for="userAddress">Ulica i numer domu/mieszkania</label>
          <input type="text" class="form-control" id="userAddress">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="userCity">Miasto</label>
            <input type="text" class="form-control" id="userCity">
          </div>
          <div class="form-group col-md-2">
            <label for="userZip">Kod pocztowy</label>
            <input type="text" class="form-control" id="userZip">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Edytuj</button>
      </form>
    </div>
  </div>