/*honeydew / artichoke / raisinblack*/
.domain-list__header tr td {
  color: #899878;
  font-weight: bold;
  padding-bottom: 20px; }

.domain-list__body tr:nth-child(2n) {
  background-color: #899878;
  color: #F1F7EE; }
  .domain-list__body tr:nth-child(2n) .domain-list-element__prolong-button {
    background-color: #CCC5B9;
    color: #222725; }
    .domain-list__body tr:nth-child(2n) .domain-list-element__prolong-button:hover {
      background-color: #899878;
      color: #F1F7EE; }

.domain-list__body td:last-child {
  background-color: #F1F7EE; }

.domain-list__body td {
  padding: 10px; }

.domain-list-element__name {
  font-weight: bold; }

.domain-list-element__prolong-button {
  border: none;
  background-color: #403d39;
  padding: 10px;
  color: #F1F7EE;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.4s all; }
  .domain-list-element__prolong-button:hover {
    background-color: #121113; }

.inactive-domain {
  color: #D52941;
  font-weight: bold; }
