/*honeydew / artichoke / raisinblack*/
.searchbar-container {
  display: flex;
  width: 100%; }
  .searchbar-container input, .searchbar-container button {
    border-radius: 0;
    border: none;
    padding: 20px 20px;
    font-size: 0.9rem;
    border: 2px solid #899878; }
  .searchbar-container input {
    width: 75%;
    border-radius: 30px 0 0 30px;
    background-color: #F1F7EE;
    color: #B49A67;
    border-right: none; }
  .searchbar-container button {
    width: 25%;
    border-radius: 0 30px 30px 0;
    background-color: #121113;
    color: #B49A67;
    border-left: none;
    transition: 0.3s all;
    font-size: 90%; }
    .searchbar-container button:hover, .searchbar-container button:focus {
      background-color: #466365; }
    @media (max-width: 768px) {
      .searchbar-container button {
        font-size: 60%;
        overflow: hidden; } }

.tile-template {
  background-color: #F1F7EE;
  padding: 60px;
  margin: 50px; }

.tile-header {
  border-bottom: 3px solid #899878;
  background-color: transparent;
  padding-left: 10px;
  color: #222725;
  font-size: 2rem;
  margin-bottom: 20px; }
  @media (max-width: 768px) {
    .tile-header {
      font-size: 1.7rem; } }
  @media (max-width: 320px) {
    .tile-header {
      font-size: 1.1rem; } }

#availabilityMsg {
  color: #899878;
  font-weight: bold;
  width: 100%;
  font-size: 0.8rem;
  display: block;
  text-align: right;
  padding: 10px 20px 0 0; }

.addToCart-button {
  border: none;
  color: #CCC5B9;
  background-color: #121113;
  text-decoration: none;
  font-size: 12px;
  padding: 10px;
  border-radius: 3px;
  transition: 0.4s all;
  float: right;
  margin-right: 10px;
  margin-top: 10px; }
  .addToCart-button:hover {
    background-color: #466365; }
