/*honeydew / artichoke / raisinblack*/
header {
  border-bottom: 2px solid #B49A67;
  background-color: #222725;
  color: #F1F7EE;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px; }

@media (max-width: 768px) {
  header {
    padding: 5px 20px;
    height: 80px; } }

@media (max-width: 480px) {
  header {
    padding: 5px 20px;
    height: 50px; } }
