
      <div class="card-body row">
        <div class="card mini col no-top-margin">
          <h5 class="card-header">Roczny</h5>
          <div class="card-body">
            <p class="card-text text-primary h2 price">61.5 zł <span class="text-secondary h6">(w tym 23% VAT)</span></p>
            <p class="card-text price text-secondary font-weight-light">61.5 zł/rok</p>
            <a class="btn btn-primary" (click)="offerChoice=oneYear">Wybieram ten!</a>
          </div>
        </div>
        <div class="card mini col no-top-margin">
          <h5 class="card-header">Pięcioletni</h5>
          <div class="card-body">
            <p class="card-text  text-primary h2 price">246 zł <span class="text-secondary h6">(w tym 23% VAT)</span></p>
            <p class="card-text price text-secondary font-weight-light">49.2 zł/rok</p>
            <a class="btn btn-primary" (click)="offerChoice=fiveYears">Wybieram ten!</a>
          </div>
        </div>
      </div>