<div class="jumbotron">
  <h1 class="display-4">Witaj, {{activeUser.login}}!</h1>
  <hr class="my-4">
  <p class="lead">Powiedz nam, co chciał(a)byś dzisiaj zrobić:</p>
  <p class="lead">
    <a class="btn btn-lg btn-success" routerLink="kup" role="button">Wykup domenę</a>
    <a class="btn btn-primary btn-lg" routerLink="sprawdz-dostepnosc" role="button">Sprawdź dostępność domeny</a>
    <a class="btn btn-primary btn-lg" routerLink="lista-twoich-domen" role="button">Zarządzaj swoimi domenami</a>
  </p>
</div>