/*honeydew / artichoke / raisinblack*/
.domain-list {
  table-layout: fixed;
  width: 100%;
  font-size: 12px;
  word-wrap: break-word; }

.domain-list__header tr td {
  color: #B49A67;
  font-weight: bold;
  padding-bottom: 20px;
  text-align: center; }

.domain-list__body tr {
  color: #424242; }

.domain-list__body tr:nth-child(2n) {
  color: #121113; }
  .domain-list__body tr:nth-child(2n) .domain-list-element__prolong-button {
    background-color: #CCC5B9;
    color: #849887; }
    .domain-list__body tr:nth-child(2n) .domain-list-element__prolong-button:hover {
      background-color: #8C7284;
      color: #F1F7EE; }

.domain-list__body td {
  padding: 10px; }

.domain-list-element__name {
  font-weight: bold; }

.domain-list-element__prolong-button {
  border: none;
  background-color: #CCC5B9;
  padding: 10px;
  color: #424242;
  cursor: pointer;
  transition: 0.4s all; }
  .domain-list-element__prolong-button:hover {
    background-color: #8C7284;
    color: #F1F7EE; }

.ipInput {
  width: 60%;
  float: right;
  border: none;
  padding: 5px;
  height: 30px;
  font-size: 12px; }
  .ipInput:focus {
    border-left: 1px solid #849887;
    border-top: 1px solid #849887;
    border-bottom: 1px solid #849887;
    outline: none; }
  .ipInput_button {
    width: 30px;
    height: 30px;
    border: none;
    color: #F1F7EE;
    font-size: 10px;
    background-color: #466365;
    padding: 4px;
    transition: 0.3s all; }
    .ipInput_button:hover {
      background-color: #121113; }

.btn-td {
  margin: 0 auto; }

.td-name {
  width: 25%; }

.td-ip {
  width: 20%; }

.td-owner {
  width: 25%; }

.td-date {
  width: 15%; }

.td-state {
  width: 15%; }

@media (max-width: 920px) {
  .domain-list__header {
    font-size: 10px;
    padding: 5px; }
  .domain-list__body {
    font-size: 10px;
    padding: 5px; }
  .domain-list-element__prolong-button {
    font-size: 10px; }
  .ipInput {
    height: 20px;
    font-size: 10px; }
    .ipInput_button {
      height: 20px; } }

@media (max-width: 768px) {
  .domain-list__header {
    font-size: 8px;
    padding: 5px; }
  .domain-list__body {
    font-size: 8px;
    padding: 5px; }
  .domain-list-element__prolong-button {
    font-size: 8px; }
  .ipInput {
    height: 20px;
    font-size: 8px; }
    .ipInput_button {
      height: 20px; } }
