<div class="card">
        <h5 class="card-header">Sprawdź dostępnosć domeny</h5>
        <div class="card-body">

          <h6 class="card-title">Wprowadź nazwę domeny, która cię interesuje, a my powiemy ci czy jest ona dostępna!</h6>
          <app-domain-availability></app-domain-availability>
          <!-- <br><br><br>
          <p class="card-text font-weight-light">Możesz też przejrzeć listę zajętych domen!</p>
          <span class="sort-span">Sortuj: <a href="#">a-z  </a> <a href="#">z-a</a></span><br>
          <span class="sort-span">Wyświetl: <a href="#">25  </a> <a href="#">50  </a> <a href="#">100  </a></span>
              <ul class="heroes list-group list-group-flush">
                  <li *ngFor="let subdom of subdomains" class="list-group-item">
                      <span class="text-danger">{{subdom.name}}</span>.{{subdom.at}}
                  </li>
              </ul> -->
        </div>
</div>