<nav className="nav">
  <a id="logo" routerLink="/">eu.pl</a>
  <li className="nav-item">
      <a className="nav-link" routerLink="kup">Wykup domenę</a>  
  </li>
  <li className="nav-item">
      <a className="nav-link" routerLink="lista-twoich-domen">Zarządzaj domenami</a>
  </li>
  <li className="nav-item">
      <a className="nav-link" routerLink="sprawdz-dostepnosc">Sprawdź dostępność domeny</a>
  </li>
  <li className="nav-item">
      <a className="nav-link disabled" routerLink="kontakt">Kontakt</a>
  </li>  
  
  
</nav>