.card{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}

.availabilityInfo{
    margin: 20px 0 0 10px;
    font-weight: 300;
    font-style: italic;
}

.no-top-margin{
    margin: 10px 10px 0 10px;
    width: 100%;
    padding: 0;   
}

.float-right{
    float: right;
}

.selected{
    border: 3px solid #007bff;
    box-shadow: 0px 0px 3px 3px #007bff;
}

.white-font{
    color: #fff;
}