@import '../../variables.scss';

.plan-form{
    & fieldset{
        display: flex;
        border: none;
    }
    &__option{
        background-color: $palesilver;
        padding: 20px;
        width: 50%;
        &-header{
            color: $deepspacesparkle;
            border-bottom: 3px solid $woodbrown;
            padding-bottom: 10px;
        }
        &:first-child{
            margin-right: 5px;
        }
    }

    &__option-annual-pricing{
        color: $raisinblack;
        display: block;
    }

    &__option-pricing{
        &-price{
            font-size: 36px;
            color: $rustyred;
            font-weight: bold;
        }
        color: $blackolive;
    }
    &__option-btn{
        border: none;
        background-color: $deepspacesparkle;
        color: $honeydew;
        padding: 10px;
        border-radius: 1px;
        margin-top: 10px;
        transition: 0.3s all;
        &:hover{
            background-color: $blackolive;
        }
    }
}

.form-submit-btn{
    padding: 20px 30px;
    width: 150px;
    background-color: $deepspacesparkle;
    color: $palesilver;
    border: none;
    border-radius: 1px;
    margin: 20px;
    margin-left: calc(100% - 150px);
    transition: 0.3s all;
    &:hover{
        background-color: $blackolive;
    }
}

.selected{
    background-color: $artichoke;
    & > .plan-form__option-header{
        color: $blackolive;
    }
    & > .plan-form__option-btn{
        background-color: $blackolive;
    }
}

@media(max-width: 768px){
    .plan-form__option-pricing{
        font-size: 10px;
            &-price{
                font-size: 24px;
            }
    }
}