/*honeydew / artichoke / raisinblack*/
.plan-form fieldset {
  display: flex;
  border: none; }

.plan-form__option {
  background-color: #CCC5B9;
  padding: 20px;
  width: 50%; }
  .plan-form__option-header {
    color: #466365;
    border-bottom: 3px solid #B49A67;
    padding-bottom: 10px; }
  .plan-form__option:first-child {
    margin-right: 5px; }

.plan-form__option-annual-pricing {
  color: #222725;
  display: block; }

.plan-form__option-pricing {
  color: #403d39; }
  .plan-form__option-pricing-price {
    font-size: 36px;
    color: #D52941;
    font-weight: bold; }

.plan-form__option-btn {
  border: none;
  background-color: #899878;
  color: #F1F7EE;
  padding: 10px;
  border-radius: 1px;
  margin-top: 10px;
  transition: 0.3s all; }
  .plan-form__option-btn:hover {
    background-color: #403d39; }

.form-submit-btn {
  padding: 20px 30px;
  width: 150px;
  background-color: #403d39;
  color: #CCC5B9;
  border: none;
  border-radius: 1px;
  margin: 20px;
  margin-left: calc(100% - 150px);
  transition: 0.3s all; }
  .form-submit-btn:hover {
    background-color: #222725; }

.selected {
  background-color: #899878; }
  .selected > .plan-form__option-header {
    color: #403d39; }
  .selected > .plan-form__option-btn {
    background-color: #403d39; }

@media (max-width: 768px) {
  .plan-form__option-pricing {
    font-size: 10px; }
    .plan-form__option-pricing-price {
      font-size: 24px; } }
