@import '../variables.scss';

.domain-list__header{
    & tr td{
        color: $artichoke;
        font-weight: bold;
        padding-bottom: 20px;
    }
}

.domain-list__body{
    & tr:nth-child(2n){
        background-color: $artichoke;
        color: $honeydew;
        & .domain-list-element__prolong-button{
            background-color: $palesilver;
            color: $raisinblack;
            &:hover{
                background-color: $artichoke;
                color: $honeydew;
            }
        }
    }
    & td:last-child{
        background-color: $honeydew;
    }
    & td{
        padding: 10px;
    }
}

.domain-list-element{
    &__name{
    font-weight: bold;
    }
    &__prolong-button{
        border: none;
        background-color: $blackolive;
        padding: 10px;
        color: $honeydew;
        border-radius: 3px;
        cursor: pointer;
        transition: 0.4s all;
        &:hover{
            background-color: $licorice;
        }
    }
}

.inactive-domain{
    color: $rustyred;
    font-weight: bold;
}