/*honeydew / artichoke / raisinblack*/
.loginContainer {
  width: 90%;
  margin: 50px auto 20px auto; }

.loginForm {
  display: flex;
  flex-direction: column; }
  .loginForm__label {
    color: #222725;
    font-size: 20px;
    padding: 10px; }
  .loginForm__input {
    padding: 10px;
    color: #424242;
    border: none;
    font-size: 18px;
    margin: 7px; }
    .loginForm__input::placeholder {
      color: #CCC5B9; }
  .loginForm__submitBtn {
    border: none;
    background-color: #424242;
    color: #F1F7EE;
    padding: 10px;
    margin: 40px auto 20px auto;
    width: 60%;
    font-size: 20px;
    align-self: center;
    transition: 0.4s all; }
    .loginForm__submitBtn:hover {
      background-color: #222725; }

#availabilityMsg {
  color: #D52941;
  font-weight: bold;
  width: 100%;
  font-size: 0.8rem;
  display: block;
  text-align: right;
  padding: 10px 20px 0 0; }

@media (max-width: 768px) {
  .loginContainer {
    margin: 30px auto 10px auto; }
  .loginForm__label, .loginForm__input {
    padding: 5px;
    font-size: 16px; }
  .loginForm__submitBtn {
    padding: 5px;
    font-size: 16px; } }

@media (max-width: 480px) {
  .loginContainer {
    margin: 0 auto 5px auto; }
  .loginForm__submitBtn {
    font-size: 12px; } }
