$honeydew: #F1F7EE;
$artichoke: #849887;;
$rustyred: #D52941;
$raisinblack: #222725;
$licorice: #121113;

/*honeydew / artichoke / raisinblack*/
$palesilver: #CCC5B9;
$blackolive: #424242;


$rocketmetallic: #8C7284;
$deepspacesparkle: #466365;
$woodbrown: #B49A67;