<div class="maintenance-container col">
		<div class="card">
			<h5 class="card-header">Lista Twoich domen</h5>
			<div class="card-body">
		    	<h6 class="card-title">Oto lista domen, które posiadasz. Upewnij się, czy wszystkie są aktywne!</h6>

				<table class="table table-striped">
				  <thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Nazwa domeny</th>
				      <th scope="col">Data wygaśnięcia</th>
				      <th scope="col">Stan</th>
				      <th scope="col"> </th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr *ngFor="let usrdom of usersDomains">
				      <th scope="row">{{usrdom.id_domain}}</th>
				      <td>{{usrdom.name}}.{{usrdom.at}}</td>
				      <td>{{usrdom.expiration_date}}</td>
				      <td [class.text-success]="(usrdom.status == 'ACTIVE')" [class.text-danger]="(usrdom.status == 'INACTIVE')">{{usrdom.status}}</td>
				      <td><a href="prolong_domain.html"><span class="btn btn-primary">Przedłuż ważność</span></a></td>
				    </tr>
					
				  </tbody>
				</table>
			</div>
		</div>
	</div>