@import "../../../../variables.scss";

img{
    height: 100%;
    opacity: 0.8;
}

.logo{
    display: inline-block;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    color: $honeydew;
    span{
        color: $rustyred;
    }
}

@media(max-width: 768px){
    .logo{
        font-size: 56px;
        padding: 0;
    }
}

@media(max-width: 480px){
    .logo{
        font-size: 32px;
    }
}