/*honeydew / artichoke / raisinblack*/
img {
  height: 100%;
  opacity: 0.8; }

.logo {
  display: inline-block;
  height: 100%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 70px;
  color: #F1F7EE; }
  .logo span {
    color: #D52941; }

@media (max-width: 768px) {
  .logo {
    font-size: 56px;
    padding: 0; } }

@media (max-width: 480px) {
  .logo {
    font-size: 32px; } }
